@charset "UTF-8";
	html, body {width: 100%; height:100%;}
    * {margin: 0; padding: 0;}
    /* 바디부분에 글꼴과 폰트사이즈 */
    body{font-family: '돋움',sans-serif; font-size: 12px;}
    /* 리스트에 . 같은 스타일 없애기 */
    ul,ol{list-style: none;}
    /* 리스트제목에 효과 없애기 */
    em,address{font-style: normal;}
    /* a태그 효과없애기 */
    a{text-decoration: none;}
    /* a태그 마우스올리거나 누르면 밑줄효과 */
    a:hover,a:active,a:focus{text-decoration: underline;}
    /* width 1000px로 주고, 가운데 정렬 */
    .wraps {width: 1000px; margin-left: 200px; }
    /* 내가쓴글 제목 */
    .wraps h1 {padding: 10px 0 4px; margin-left: 475px;}
    /* 썸네일리스트부분div 왼쪽정렬, 왼쪽띄기, 크기, 패딩 지정  */
    .fixed_img_col li {float: left; margin-left: 50px; width: 200px; height: 350px; padding: 20px 15px;}
    .fixed_img_col li strong {font-size: 23px;}
    .fixed_img_col li p {font-size: 13px;}
    .fixed_img_col li em {font-size: 15px;}
    /* 중요! 사이즈 맞춰야함 */
    .fixed_img_col {height: 700px;}
    /* 중요! 이미지크기 꼭 맞춰야함 */
    img {width: 230px; height: 200px;}
    #dropdown {margin-left: 60px; margin-bottom: 30px; margin-top: 50px;}
    /* 판매중/판매완료 라디오버튼 */
    .radiobtn {margin-left: 65px;}
    /* 더보기 버튼 */
    #more {width: 700px; margin-left: 370px;}