<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases> <!-- Class 별칭을 선언하여 모든 경로를 적어주지 않아도 된다. -->
	  <typeAlias type="com.kh.project.admin.vo.AdminMs" alias="AdminMs" />
	  <typeAlias type="com.kh.project.admin.vo.AdminBm" alias="AdminBm" />
      <typeAlias type="com.kh.project.member.vo.Member" alias="Member" />
      <typeAlias type="com.kh.project.member.vo.MemberAuth" alias="MemberAuth" />
      <typeAlias type="com.kh.project.board.vo.Board" alias="Board" />
      <typeAlias type="com.kh.project.board.vo.AlertPost" alias="AlertPost" />
      <typeAlias type="com.kh.project.board.vo.Image" alias="Image" />
      <typeAlias type="com.kh.project.message.vo.Message" alias="Message" />
      <typeAlias type="com.kh.project.membership.vo.Membership" alias="Membership" />
      <typeAlias type="com.kh.project.membership.vo.Mshipdata" alias="Mshipdata" />
      <typeAlias type="com.kh.project.membership.vo.Payment" alias="Payment" />
      <typeAlias type="com.kh.project.board.vo.Reply" alias="Reply" />
      <typeAlias type="com.kh.project.board.vo.Criteria" alias="Criteria"/>
      <typeAlias type="com.kh.project.member.vo.Wish" alias="Wish"/>
   </typeAliases>
   
   <!-- 사용하고자 하는 mapper를 등록한다. -->
   <mappers> 
      <mapper resource="mapper/admin-mapper.xml" />
      <mapper resource="mapper/member-mapper.xml" />
      <mapper resource="mapper/board-mapper.xml" />
      <mapper resource="mapper/message-mapper.xml" />
      <mapper resource="mapper/membership-mapper.xml" />
      <mapper resource="mapper/reply-mapper.xml" />
      <mapper resource="mapper/alert-mapper.xml" />
      <mapper resource="mapper/wish-mapper.xml" />
  </mappers>
	
</configuration>
