@charset "UTF-8";

.purple{
    color:rgb(173, 39, 173)
}
.div1{
    background-color: lightgray;
    width:500px;
    height: 400px;
    margin-left:auto; 
    margin-right:auto;
}
hr{
    width: 400px;

}
.h3, .h4{
    text-align: center;
    font-weight: bold;
}

.center{
    text-align: center;
}
.btn1{
    margin: 20px;
    background-color: white;
}
table{
    margin-left:auto; 
    margin-right:auto;
    
}
.btn1:hover{
    background-color: rgb(173, 39, 173);
    color: white;
}