<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Admin">
   <resultMap id="resultAdminMs" type="AdminMs">
      <id property="mshipSeq" column="MSHIP_SEQ" />   
      <result property="mshipStart" column="MSHIP_START"/>  
      <result property="mshipEnd" column="MSHIP_END"/>   
      <result property="mshipYn" column="MSHIP_YN"/>   
      <result property="mshipGrade" column="MSHIP_GRADE"/>   
      <result property="id" column="ID"/>
   </resultMap>
   
   <!-- SELECT Membership -->
   <select id="selectAdminMs"  resultMap="resultAdminMs ">
      SELECT * FROM MSHIPDATA ORDER BY MSHIP_SEQ DESC
   </select>
   
   <!-- 관리자 페이지-신고회원 총 인원수 -->
	<select id="allCountAlertMember" resultType="_int">
		SELECT COUNT(*) FROM MEMBER WHERE ALERT_CNT > 0
	</select>
</mapper>   