<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Alert">
	<resultMap id="resultAlert" type="AlertPost">
		<id property="alertSeq" column="ALERT_SEQ" />	
		<result property="alertContents" column="ALERT_CONTENTS"/>
		<result property="postNo" column="POST_NO"/>
		<result property="id" column="ID"/>
		<collection property="member" resultMap="resultMember"/>
	</resultMap>
	
	<resultMap id="resultMember" type="Member">
		<result property="alert_cnt" column="ALERT_CNT" />
	</resultMap>
	
	<insert  id="insertAlertPost" parameterType="AlertPost">
			INSERT INTO ALERT_POST VALUES(ALERT_SEQ.NEXTVAL,#{alertContents},#{postNo},#{id})
	</insert>
	
	<insert id="updateAlertCnt" parameterType="AlertPost">
			UPDATE MEMBER SET ALERT_CNT= (SELECT NVL(MAX(ALERT_CNT),0)+1 FROM MEMBER) WHERE ID = #{id}
	</insert>
	
	<select id="selectAlerts" resultMap="resultAlert">
		SELECT ALERT_SEQ, ALERT_CONTENTS, POST_NO, ALERT_POST.ID, ALERT_CNT FROM ALERT_POST LEFT OUTER JOIN MEMBER ON ALERT_POST.ID = MEMBER.ID ORDER BY ALERT_SEQ DESC
	</select>
	
	<delete id="deleteAlert" parameterType="int">
		DELETE FROM ALERT_POST WHERE ALERT_SEQ = ${alertSeq}
	</delete>
	
</mapper>