<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
	<resultMap id="resultBoard" type="Board">
		<id property="post_no" column="POST_NO" />	
		<result property="post_title" column="POST_TITLE" />
		<result property="post_price" column="POST_PRICE" />
		<result property="post_contents" column="POST_CONTENTS" />
		<result property="post_address" column="POST_ADDRESS" />
		<result property="post_yn" column="POST_YN" />
		<result property="post_date" column="POST_DATE" />
		<result property="post_tags" column="POST_TAGS" />
		<result property="id" column="ID"/>
		<result property="hit" column="HIT"/>
		<result property="alert_cnt" column="ALERT_CNT"/>
		<result property="post_code" column="POST_CODE"/>
		<result property="rename_filename" column="RENAME_FILENAME" />
		<collection property="alertPost" resultMap="resultAlert"/>
	</resultMap>
	
	<resultMap id="resultAlert" type="AlertPost">
		<id property="alertSeq" column="ALERT_SEQ"/>
		<result property="alertContents" column="ALERT_CONTENTS" />
	</resultMap>
	
	<!-- SELECT LIST -->
	<select id="selectList" parameterType="map" resultType="Board">
		<!-- SELECT * FROM (SELECT ROWNUM NUM, S.*FROM (SELECT * FROM SALES_POST ORDER BY POST_NO DESC)S) WHERE NUM BETWEEN 1 AND 8 -->
		SELECT * FROM (SELECT ROWNUM NUM , S.* FROM (SELECT a.*,  b.RENAME_FILENAME FROM SALES_POST a LEFT OUTER JOIN IMAGES b ON a.POST_NO = b.POST_NO 
		<where>
		<if test="post_title !=''">
			AND POST_TITLE LIKE '%'||#{post_title}||'%'
		</if>
		<if test="post_address !=''">
			AND POST_ADDRESS LIKE '%'||#{post_address}||'%'
		</if>

		<if test="category != ''">
			AND POST_CODE = #{category} 		
		</if>
		<if test="onsale != ''">
			AND POST_YN = #{onsale}
		</if> 

		</where>
		ORDER BY a.POST_NO DESC)S) WHERE NUM BETWEEN 1 AND 8 
	</select>
	
	<!-- SELECT LIST MORE -->
	<select id="selectListMore" parameterType="map" resultType="Board">
		<!-- SELECT * FROM (SELECT ROWNUM NUM, S.*FROM (SELECT * FROM SALES_POST ORDER BY POST_NO DESC)S) WHERE NUM BETWEEN 8+(4*#{more}) AND 11+(4*#{more}) -->
		<!-- SELECT * FROM (SELECT ROWNUM NUM , S.* FROM (SELECT a.*,  b.RENAME_FILENAME FROM SALES_POST a LEFT OUTER JOIN IMAGES b ON a.POST_NO = b.POST_NO ORDER BY a.POST_NO DESC)S) WHERE NUM BETWEEN 8+(4*#{more}) AND 11+(4*#{more}) -->
		SELECT * FROM (SELECT ROWNUM NUM , S.* FROM (SELECT a.*,  b.RENAME_FILENAME FROM SALES_POST a LEFT OUTER JOIN IMAGES b ON a.POST_NO = b.POST_NO 
		<where>
		<if test="post_title != ''">
			AND POST_TITLE LIKE '%'||#{post_title}||'%'
		</if>

		<if test="category != ''">
			AND POST_CODE = #{category} 		
		</if>
		<if test="onsale != ''">
			AND POST_YN = #{onsale}
		</if> 

		</where>
		ORDER BY a.POST_NO DESC)S) WHERE NUM BETWEEN 8+(4*#{more}) AND 11+(4*#{more})
	</select>
	
	<!-- SELECT LIST COUNT  -->
	<select id="listCount" parameterType="int" resultType="int">
		SELECT COUNT(*) CNT FROM SALES_POST
	</select>

	<!-- SELECT PAGE -->
	<select id="selectPage" parameterType="int" resultType="Board">
		SELECT * FROM SALES_POST WHERE POST_NO = #{no}
	</select>
	
	<!-- SELECT FILE -->
	<select id="selectFile" parameterType="int" resultType="Image">
		SELECT * FROM IMAGES WHERE POST_NO = #{no}
	</select>
	
	<!-- INSERT BOARD-->
	<insert id="insertBoard" parameterType="Board">
	{ CALL
	BEGIN
		INSERT INTO SALES_POST(POST_NO, POST_TITLE, POST_PRICE, POST_CONTENTS, POST_ADDRESS, POST_TAGS, ID, POST_CODE) VALUES(SALES_POST_SEQ.NEXTVAL, #{post_title}, #{post_price}, #{post_contents}, #{post_address}, #{post_tags}, #{id}, #{post_code});
		INSERT INTO IMAGES (ORIGINAL_FILENAME, RENAME_FILENAME, FILE_PATH, POST_NO) VALUES(#{original_filename},#{rename_filename},#{file_path}, SALES_POST_SEQ.CURRVAL);
	END
	}
	</insert>	
	
	<!-- INSERT BOARD - FILE -->
	<insert id="insertFile" parameterType="Image">
	</insert>
	
	<!-- UPDATE  -->
	<update id="updateBoard" parameterType="Board">
		UPDATE SALES_POST SET POST_TITLE=#{post_title}, POST_PRICE=#{post_price}, POST_CONTENTS=#{post_contents}, POST_ADDRESS=#{post_address} , POST_TAGS=#{post_tags}, POST_CODE=#{post_code} where POST_NO=#{post_no}	
	</update>
	
	<!-- UPDATE POST_YN (ajax) -->
	<update id="update_YN" parameterType="map">
		UPDATE SALES_POST SET POST_YN = #{onSaleUp} WHERE POST_NO = #{no}
	</update>
	
	<!-- DELETE -->
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM SALES_POST WHERE POST_NO = #{no}
	</delete>	
	
	<!-- 관리자페이지- 게시물관리 -->
	<select id="selectPostAdmin" parameterType="Criteria" resultMap="resultBoard" >
	<![CDATA[
	 select  * from(select  rownum rn,  r.POST_NO, r.POST_TITLE, 
		r.ID, r.ALERT_CNT, r.ALERT_CONTENTS from (select S.POST_NO, POST_TITLE, 
		S.ID, S.ALERT_CNT, ALERT_CONTENTS 
		FROM SALES_POST s LEFT OUTER JOIN ALERT_POST a  
		ON a.POST_NO = s.POST_NO 
		order by s.alert_cnt desc, post_no desc) r where rownum <= (#{pageNum}*#{amount}) ) where rn > (#{pageNum}-1)*#{amount}
	]]>
	</select>
	
	<!-- mypage 내 글 보기 -->
	<select id="myBoardList" parameterType="String" resultType="Board">
		SELECT * FROM (SELECT ROWNUM NUM, P.*FROM (SELECT * FROM SALES_POST WHERE ID =#{id} ORDER BY POST_NO DESC)P) WHERE NUM BETWEEN 1 AND 8
	</select>
	
	<!-- mypage page  -->
	<select id="myBoardPage" parameterType="map" resultType="Board">
		SELECT * FROM (SELECT ROWNUM NUM, P.*FROM (SELECT * FROM SALES_POST WHERE ID = #{Pid} ORDER BY POST_NO DESC)P) WHERE NUM BETWEEN 5+(#{more}*4) AND 8+(#{more}*4)
	</select>

</mapper>