<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
	<resultMap id="resultMember" type="Member">
		<id property="id" column="ID" />	
		<result property="nickname" column="NICKNAME" />
		<result property="password" column="PASSWORD" />
		<result property="email" column="EMAIL" />
		<result property="postCode" column="ADDRESS" />
		<result property="roadAddress" column="ROADADDRESS" />
		<result property="detailAddress" column="DETAILADDRESS" />
		<result property="alert_cnt" column="ALERT_CNT" />
		<result property="enabled" column="ENABLED"/>
	</resultMap>
	
	<!-- INSERT -->
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER VALUES(#{id}, #{nickname}, #{password}, #{email}, #{postCode}, #{roadAddress}, #{detailAddress}, DEFAULT, DEFAULT)
	</insert>
	
	<!-- checkIdDup -->
	<select id="checkIdDup" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM MEMBER WHERE ID = #{id}
	</select>
	
	<!-- checkNiDup -->
	<select id="checkNiDup" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM MEMBER WHERE NICKNAME = #{nickname}
	</select>

	<!--UPDATE  -->
	
	<!-- CHECK NICKNAME -->
	<select id="checkNickname" resultType="int">
		SELECT COUNT(*) AS CNT FROM MEMBER WHERE NICKNAME = #{nickname}
	</select>
		
		
	<!-- 아이디 찾기, 닉네임과 이메일 입력해서 아이디 찾기 받아오는 값이 2개이기 떄문에 ParameterType값을 String으로 하지않고 Member(vo)로 작성 -->
	<select id="findId" parameterType="Member" resultMap="resultMember">
		SELECT ID FROM MEMBER WHERE NICKNAME = #{nickname} AND EMAIL = #{email}
	</select>
	
</mapper>