<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
	<!-- resultMap의 id는 알아볼 수 있게 지정해야함 type은 vo의 루트를 입력하면됨 -->
	<resultMap id="resultMember" type="com.java.project.member.vo.Member">
	
		<!-- vo에서 지정했던 필드들 모두 입력. property는 vo에서 썼던 필드이름이고, column은 SQL문에서의 테이블 컬럼명 입력해야함 -->
		<!-- 먼저 primary key 선언 -->
		<id property="id" column="ID" />	
		<result property="nickname" column="NICKNAME" />
		<result property="password" column="PASSWORD" />
		<result property="email" column="EMAIL" />
		<result property="address" column="ADDRESS" />
		<result property="alert_cnt" column="ALERT_CNT" />
	</resultMap>
	
	<!-- INSERT -->
	<insert id="insertMember" parameterType="Member">
		INSERT INTO TABLE1 VALUES(#{id}, #{nickname}, #{password}, #{email}, #{address}, DEFAULT)
	</insert>
	
	<select id="selectMemberAll" resultMap="resultMember">
		SELECT * FROM TABLE1 
	</select>
		
</mapper>