<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
	<resultMap id="resultMember" type="Member">
		<id property="id" column="ID" />	
		<result property="nickname" column="NICKNAME" />
		<result property="password" column="PASSWORD" />
		<result property="email" column="EMAIL" />
		<result property="postCode" column="POSTCODE" />
		<result property="roadAddress" column="ROADADDRESS" />
		<result property="detailAddress" column="DETAILADDRESS" />
		<result property="alert_cnt" column="ALERT_CNT" />
		<result property="enabled" column="ENABLED"/>
		<collection property="authList" resultMap="resultMemberAuth"></collection>
	</resultMap>
	
	<resultMap type="MemberAuth" id="resultMemberAuth">
		<result property="id" column="id"/>
		<result property="auth" column="auth"/>		
	</resultMap>
	 
	<!-- LOGIN-->
	<select id="getMember" resultMap="resultMember" parameterType="String">
		SELECT MEMBER.ID, NICKNAME, PASSWORD, EMAIL, POSTCODE, ROADADDRESS, DETAILADDRESS, ALERT_CNT, ENABLED, AUTH FROM MEMBER LEFT OUTER JOIN MEMBER_AUTH ON MEMBER.ID = MEMBER_AUTH.ID WHERE MEMBER.ID = #{id}
	</select>
	
	<!-- INSERT -->
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER VALUES(#{id}, #{nickname}, #{password}, #{email}, #{postCode}, #{roadAddress}, #{detailAddress}, DEFAULT, DEFAULT)
	</insert>
	
	<!-- INSERT AUTH -->
	<insert id="insertMemberAuth" parameterType="Member">
		INSERT INTO MEMBER_AUTH VALUES(#{id}, 'ROLE_MEMBER')
	</insert>
	
	<!-- checkIdDup -->
	<select id="checkIdDup" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM MEMBER WHERE ID = #{id}
	</select>
	
	<!-- checkNiDup -->
	<select id="checkNiDup" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM MEMBER WHERE NICKNAME = #{nickname}
	</select>
	
	<!-- SELECT PW(본인확인)  -->
	<select id="selectPw" parameterType="String" resultType="String">
	 	SELECT PASSWORD FROM MEMBER WHERE ID= #{id}
	</select>
	
	<!--UPDATE MEBER -->
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER SET NICKNAME=#{nickname}, PASSWORD=#{password}, EMAIL=#{email}, POSTCODE=#{postCode} , ROADADDRESS=#{roadAddress}, DETAILADDRESS=#{detailAddress} where id=#{id}
	</update>
	
	<!-- CHECK NICKNAME (본인제외 중복체크)-->
	<select id="checkNickname" parameterType="Member" resultType="int">
		SELECT COUNT(*) AS CNT FROM MEMBER WHERE NICKNAME = #{nickname} AND ID != #{id}
	</select>
	
	<!--DELETE MEMBER  call begin end , ;필수-->
	<delete id="deleteMember" parameterType="Member">
	{ CALL
	BEGIN
			DELETE FROM MEMBER_AUTH WHERE ID = #{id};
			DELETE FROM MEMBER WHERE ID = #{id};
	END
	}
	</delete>

	<!-- 아이디 찾기 -->
	<select id="findId" parameterType="Member" resultMap="resultMember">
		SELECT ID FROM MEMBER WHERE NICKNAME = #{nickname} AND EMAIL = #{email}
	</select>
	
	<!-- 비밀번호 찾기 -> 비밀번호 변경 -->
	<update id="updatePw" parameterType="Member">
		UPDATE MEMBER SET PASSWORD = #{password} WHERE ID = #{id}
	</update>
	
	
</mapper>