<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Message">
	<resultMap id="resultMessage" type="Message">
		<id property="msg_seq" column="MSG_SEQ" />	
		<result property="id" column="ID" />
		<result property="msg_contents" column="MSG_CONTENTS" />
		<result property="msg_date" column="MSG_DATE" />
		<result property="get_id" column="GET_ID" />
	</resultMap>
	
	<!-- 쪽지 보내기 - INSERT -->
	<insert id="messagepost" parameterType="Message">
		INSERT INTO MESSAGE(ID, MSG_CONTENTS, MSG_DATE, GET_ID) VALUES(#{id}, #{msg_contents}, DEFAULT, #{get_id})
	</insert>
	
	<!-- 쪽지함 리스트&페이징 - SELECT 받은 쪽지함 -->
	<select id="messageList" parameterType="hashMap" resultMap="resultMessage">
		<![CDATA[
		SELECT * FROM (SELECT /*+INDEX(MESSAGE IDX_MESSAGE) */ 
		ROWNUM RN, MSG_SEQ, ID, MSG_CONTENTS, MSG_DATE, GET_ID
		FROM MESSAGE WHERE GET_ID = #{get_id}
		AND ROWNUM <= #{cri.pageNum}*#{cri.amount}
		) WHERE RN > (#{cri.pageNum}-1)*#{cri.amount}
		]]>
	</select>
	
	<!-- (혹시나해서 만든 쿼리문) 쪽지함 리스트 - SELECT 받은 쪽지함 -->
	<select id="messageListt" parameterType="String" resultMap="resultMessage">
		SELECT * FROM (SELECT ROWNUM RNUM, MSG_SEQ, ID, MSG_CONTENTS, MSG_DATE, GET_ID 
		FROM (SELECT * FROM MESSAGE ORDER BY MSG_SEQ DESC)) 
		WHERE GET_ID = #{get_id}
	</select> 
	
	<!-- 쪽지함 리스트&페이징 - SELECT 보낸 쪽지함 -->
	<select id="messagepushList" parameterType="hashMap" resultMap="resultMessage">
		<![CDATA[
		SELECT * FROM (SELECT /*+INDEX(MESSAGE IDX_MESSAGE) */ 
		ROWNUM RN, MSG_SEQ, ID, MSG_CONTENTS, MSG_DATE, GET_ID
		FROM MESSAGE WHERE ID = #{get_id}
		AND ROWNUM <= #{cri.pageNum}*#{cri.amount}
		) WHERE RN > (#{cri.pageNum}-1)*#{cri.amount}
		]]>
	</select>
	
	<!-- 쪽지함 리스트 count 받은 쪽지함 -->
	<select id="ListCount" parameterType="string" resultType="int">
		SELECT COUNT(*) CNT FROM MESSAGE WHERE GET_ID = #{get_id}
	</select>
	
	<!-- 쪽지함 리스트 count 보낸 쪽지함 -->
	<select id="ListCountpush" parameterType="string" resultType="int">
		SELECT COUNT(*) CNT FROM MESSAGE WHERE ID = #{get_id}
	</select>
	
	<!-- 쪽지 상세 view 페이지 -->
	<select id="messageView" parameterType="int" resultMap="resultMessage">
		SELECT * FROM MESSAGE WHERE MSG_SEQ = #{msg_seq}
	</select>
	
	<!-- 쪽지 수정 update -->
	<select id="messageUpdate" parameterType="Message">
		UPDATE MESSAGE SET MSG_CONTENTS = #{msg_contents} WHERE MSG_SEQ = #{msg_seq}
	</select>
	
	<!-- 쪽지 삭제 delete! -->
	<delete id="messageDelete" parameterType="Message">
		DELETE FROM MESSAGE WHERE MSG_SEQ = #{msg_seq}	
	</delete>
	
</mapper>