<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Message">
	<resultMap id="resultMessage" type="Message">
		<id property="msg_seq" column="MSG_SEQ" />	
		<result property="id" column="ID" />
		<result property="msg_contents" column="MSG_CONTENTS" />
		<result property="msg_date" column="MSG_DATE" />
		<result property="get_id" column="GET_ID" />
	</resultMap>
	
	<!-- 쪽지 보내기 - INSERT -->
	<insert id="messagepost" parameterType="Message">
		INSERT INTO MESSAGE(ID, MSG_CONTENTS, MSG_DATE, GET_ID) VALUES(#{id}, #{msg_contents}, DEFAULT, #{get_id})
	</insert>
	
	<!-- 쪽지함 리스트 - SELECT 받은 쪽지함 -->
	<select id="messageList" parameterType="String" resultMap="resultMessage">
		SELECT * FROM (SELECT ROWNUM RNUM, MSG_SEQ, ID, MSG_CONTENTS, MSG_DATE, GET_ID 
		FROM (SELECT * FROM MESSAGE ORDER BY MSG_SEQ DESC)) 
		WHERE GET_ID = #{get_id}
	</select>
	
	<!-- 쪽지함 리스트 - SELECT 보낸 쪽지함 -->
	<select id="messagepushList" parameterType="String" resultMap="resultMessage">
		SELECT * FROM (SELECT ROWNUM RNUM, MSG_SEQ, ID, MSG_CONTENTS, MSG_DATE, GET_ID 
		FROM (SELECT * FROM MESSAGE ORDER BY MSG_SEQ DESC)) 
		WHERE ID = #{get_id}
	</select>
	
	<!-- 쪽지함 리스트 count 받은 쪽지함 -->
	<select id="ListCount" parameterType="string" resultType="int">
		SELECT COUNT(*) CNT FROM MESSAGE WHERE GET_ID = #{get_id}
	</select>
	
	<!-- 쪽지함 리스트 count 보낸 쪽지함 -->
	<select id="ListCountpush" parameterType="string" resultType="int">
		SELECT COUNT(*) CNT FROM MESSAGE WHERE ID = #{get_id}
	</select>
	
	<!-- 쪽지 상세 view 페이지 -->
	<select id="messageView" parameterType="int" resultMap="resultMessage">
		SELECT * FROM MESSAGE WHERE MSG_SEQ = #{msg_seq}
	</select>
	
	
</mapper>