<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mshipdata">
	<resultMap id="resultMshipdata" type="Mshipdata">
		<id property="id" column="ID" />	
		<result property="mship_seq" column="MSHIP_SEQ" />
		<result property="mship_start" column="MSHIP_START" />
		<result property="mship_end" column="MSHIP_END" />
		<result property="mship_grade" column="MSHIP_GRADE" />
	</resultMap>	
	 
	<!-- INSERT -->
	<insert id="insertMshipdata" parameterType="Mshipdata">
		INSERT INTO MSHIPDATA VALUES(#{mship_seq}, #{mship_start}, #{mship_yn}, #{mship_end}, #{mship_grade}, #{ID})
	</insert>

</mapper>