<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Reply">
<resultMap type="Reply" id="resultReply">
	<id column="REP_SEQ" property="repSeq"/>
	<result column="POST_NO" property="postNo"/>
	<result column="REP_DATE" property="repDate"/>
	<result column="REP_CONTENTS" property="repContents"/>
	<result column="ID" property="id"/>
</resultMap>

	<insert id="insertReply" parameterType="Reply">
		INSERT INTO REPLY VALUES(REP_SEQ.NEXTVAL, SYSDATE, #{repContents}, #{id},
		#{postNo})
	</insert>

	<select id="selectReply" parameterType="string">
		SELECT * FROM REPLY WHERE REP_SEQ = #{repSeq}
	</select>

	<update id="updateReply" parameterType="Reply">
		UPDATE REPLY SET REP_CONTENTS = #{repContents} , REP_DATE = SYSDATE WHERE
		REP_SEQ = #{repSeq}
	</update>

	<delete id="deleteReply" parameterType="int">
		DELETE FROM REPLY WHERE REP_SEQ = #{repSeq} 
	</delete>
	
	<select id="getListWithPaging" resultMap="resultReply" parameterType="hashMap">
	<![CDATA[  
		SELECT rep_seq, post_no, rep_contents, id, rep_date FROM 
		(SELECT /*+INDEX(REPLY IDX_REPLY) */ 
		ROWNUM RN, REP_SEQ, POST_NO, REP_CONTENTS, ID, REP_DATE FROM REPLY
		WHERE POST_NO = #{postNo} 
		AND REP_SEQ > 0 
		AND ROWNUM <= #{cri.pageNum}*#{cri.amount}
		) WHERE RN > (#{cri.pageNum}-1)*#{cri.amount}
	]]>		
	</select>

	<select id="getCountByPostNo" resultType="int">
		<![CDATA[
			SELECT COUNT(REP_SEQ) FROM REPLY WHERE POST_NO = #{postNo}
		]]>
	</select>
</mapper>